
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Link Expired</title>
</head>
<body>
    <div class="container">
        <h1 style="color: red; text-align: center;">Link Expired</h1>
        <p style="text-align: center;">Sorry, this link is no longer active.</p>
        <button style="display: block; margin: 0 auto; background-color: bisque; border: none; padding: 10px 20px; cursor: pointer; border-radius: 5px;"><a href="{% url 'index' %}">Create a new short link</a></button>
    </div>
</body>
</html>
